<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted" style="background-color: #333333;">
  <link rel="stylesheet" href="footer.component.css">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" >
    
  </section>


    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Conectate con nosotros en nuestras redes sociales:</span>
      </div>
      
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="" style="background-color: #333333;">
      <section class="d-flex justify-content-center justify-content-lg-between p-4" >
    
      </section>
    

      
      <div class="container text-center text-md-start mt-5"  style="background-color: #333333;">
        <div >
          <img src="./assets/Logo_Posta.png" alt="" width="300px" style="float: left;">
  
        </div>
        <!-- Grid row -->
        <div class="row mt-3" >
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="color: white;">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
            </h6>
            <p>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-4 mx-auto mb-4" style="color: white;">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4"style="color: white;">
              Contactanos
            </h6>
            <p>
              <a>Teléfono:
                +1 (555) 123-4567</a>
            </p>
            <p>
              <a>Sede:
                123 Calle Encino,
                DGO, DGO,
                México</a>
            </p>
            <p>
              <a>Correo electrónico:
                info&commat;posta.not.com</a>
            </p>
            <p>
              <a>Horario de atención: Lunes a Viernes: 9:00 AM - 5:00 PM</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white;">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Encuentranos
            </h6>
            <p>
              <a href="https://bcs.posta.com.mx" target="_blank">Baja California Sur</a>
            </p>
            <p>
              <a href="https://cdmx.posta.com.mx" target="_blank">CDMX</a>
            </p>
            <p>
              <a href="https://coahuila.posta.com.mx" target="_blank">Cohahuila</a>
            </p>
            <p>
              <a href="https://www.posta.com.mx" >Nuevo León</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: white;">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">SE PARTE DE NUESTRA COMUNIDAD</h6>
            <div class="icon">
                <a href="https://www.facebook.com/POSTAmx/?locale=es_LA" target="_blank"><img src="./assets/Logo_FB (2).png" alt="" width="30px"></a>
                <a href="https://twitter.com/postamx?lang=es" target="_blank"><img src="./assets/Logo_X.png" alt="" width="30px"></a>
                <a href="https://www.instagram.com/postamx/?hl=es" target="_blank"><img src="./assets/Logo_inst (2).png" alt="" width="30px"></a>
                <a href="https://www.youtube.com/@Postamx" target="_blank"><img src="./assets/Logo_Yt.png" alt="" width="30px"></a>
                <a href="https://www.tiktok.com/@postamx?lang=es" target="_blank"><img src="./assets/Logo_tiktok.png" alt="" width="30px"></a>
            </div>
        </div>
        
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #333333;" >
      <font color="white">
        © 2024 Klave Media S.A.P.I. de C.V. Todos los derechos reservados. Aviso de Privacidad.
      </font>
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
