<nav class="navbar navbar-expand-lg " style="background-color:#DB3F37;">
  <div class="container-fluid">
    <a href="javascript:void(0);" onclick="location.reload();">


    <img src="./assets/Logo_Posta.png" alt="" width="200px" >
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="!#" class="nav-link active text-reset" aria-current="page" style="color: white !important;">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/ " style="color: white;">Negocios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="salu" style="color: white;">Salud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="depor" style="color: white;">Deportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cien" style="color: white;">Ciencia</a>
        </li>
        
        
       
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg d-flex justify-content-center" style="background-color:#333333;">
  <font size="0.5" class="text-uppercase fw-bold mb-1" style="color: white; letter-spacing: 2px;">
    Lo mejor de la información de Durango, México y el mundo
  </font>
</nav>

<router-outlet ></router-outlet>