img {

    object-fit: cover; /* La imagen se ajustará para cubrir el contenedor */
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
}

.card{
    width: auto; /* La anchura se ajustará automáticamente para mantener la proporción original */
    height: 450px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* La imagen se ajustará para cubrir el contenedor */
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */


}
.container{
    top: 20px;
    margin-top: 30px;
}

